  body {
    scroll-behavior: smooth;
    background: url(4e592041edc70550a215f2eba56353d1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   

  }

  .hero {
    height: 100vh;
    background: url(4e592041edc70550a215f2eba56353d1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    color: rgb(38, 38, 38);
    display: flex;
    align-items: center;

  }
  .hero h1{
    text-shadow: 2px 2px 5px rgba(99, 96, 96, 0.5);
  }
  .hero p{
     font-family: 'Poppins', sans-serif;
  }

  .navbar-brand {
    font-family: "Rubik", ;
    font-weight: bolder;
    font-size: 1.5em;
  }

  .hero img {
    max-width: 250px;
    border-radius: 0px 50px;
  }

  .section-padding {
    padding: 80px 0;
  }
  #about,#projects{
    background-color: rgba(174, 171, 171, 0.517);
    font-family: 'Poppins', sans-serif;
  }
  .progress {
    height: 20px;
  }
#contact a{
  margin-left:10px;
  color: rgb(83, 79, 79);
}
#contact a i:hover{
  background-color: #a8b5b5;
  padding: 1px;

}
#navbarNav a{
  font-weight: 700;
}
  .hover-underline {
    /* font-size: 2rem; */
    color: #ffffff;
    position: relative;
    display: inline-block;
  }

  /* hover on view button */
  .hover-underline::after,
  .hover-underline::before {

    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #090808, #a8b5b5);
    bottom: -5px;
    left: 0px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
  }

  .hover-underline::before {
    top: 14px;
    transform-origin: right;
  }

  .hover-underline::after {
    bottom: 0px;
    transform-origin: left;
  }


  .hover-underline:hover::after,
  .hover-underline:hover::before {
    transform: scaleX(1);
  }

  /* conatact sec */
  #contact form #name,#email,#subject,#message{
  border: 3px solid rgb(99, 97, 101);
   font-family: 'Poppins', sans-serif;
  }
  #contact form label{
    font-weight: bold;
  }